p {
    color: (var(--powder-blue));
}


.policy-content {

    h2{
        text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    margin-bottom: 0.5rem;
    color: var(--light-blue);
    }

    p {
        font-size: 1rem;
        color: var(--gray);
    }

    margin:0 10%;
}

a {
    color: var(--vanilla);
    text-decoration: underline;
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
        color: var(--gold);
    }
}



